section{
    .feature_header{
        display: flex;
        justify-content: center;
        padding-bottom: 1.5rem;
        h2{
            color: var(--accent-color1);
            font-family: var(--font-family);
            font-size: 52px;
            font-weight: 400;
            line-height: 62px;
            letter-spacing: 0.2px;
        }
    }
    .feature_parag{
        display: flex;
        justify-content: center;
        padding-bottom: 4rem;
        p{
            color: var(--accent-color1);
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.2px;
            width: 602px;
            text-align: center;
        }
    }
    .feature_content {
        display: flex;
        padding: 0 10rem;
        .container_img{
            width: 80%;
            img{
                width: 100%;
                height: 759px;
            }
        }
        .container_content {
            width: 20%;
            
            .content{
                width: 269px;
                .content_head{
                    display: flex;
                    gap: 1rem;
                    width: 204px;
                    h4{
                        color: var(--accent-color1);
                        font-family: var(--font-family);
                        width: 153px;
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: 0.1px;
                        
                    }
                }
                p{
                    color: var(--accent-color1);
                    font-family: var(--font-family);  
                    width: 249px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    margin: 2rem 0 3.5rem 0;
                    
                }
            }
        }
    }
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
    section{
        .feature_header{
            h2{
                font-family: var(--font-family);
                font-size: 3.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: 3.875rem; /* 119.231% */
                letter-spacing: 0.0125rem;
            }
        }
        .feature_parag {
            p{
                color: var(--accent-color1);
                font-size: 18px;
                font-weight: 300;
                line-height: 2rem;
                letter-spacing: 0.2px;
                width: 380px;
                text-align: center;
            }
        }
        .feature_content {
            display: flex;
            flex-direction: column;
            padding: 0 2.5rem;
            .container_img{
                width: 100%;
                img{
                    width: 23.5rem;
                    height: 25.375rem;
                }
            }
            .container_content {
                width: 100%;
                margin: 2rem 20%;
                .content{
                    width: 269px;
                    p{
                        margin: 1rem 0 3rem 0;
                    }
                }
            }
        }
    }
}