section{
    padding: 2rem 0;
    .gallery_header{
        display: flex;
        justify-content: center;
        padding-bottom: 1.5rem;
        h2{
            color: var(--accent-color1);
            font-family: var(--font-family);
            font-size: 52px;
            font-weight: 400;
            line-height: 62px;
            letter-spacing: 0.2px;
        }
    }
    .gallery_parag{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
        text-align: center;
        p{
            color: var(--accent-color1);
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.2px;
            width: 580px;
            text-align: center;
        }
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 3rem 12rem;
        gap: 2rem;
        img{
            width: 14.0625rem;
            height: 17.0125rem;
            border-radius: 10px;
        }
    }
    .wrap{
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 2rem 8rem;
        .sides{
            width: 28rem;
            height: 17rem;
            border-radius: 10px;
        }
        img{
            width: 14rem;
            height: 17rem;
            border-radius: 10px;
        }
    }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
    section{
        padding: 1.5rem 0;
        .gallery_header{
            h2{
                font-size: 3.25rem;
                font-weight: 400;
                line-height: 3rem;
                letter-spacing: 0.0125rem;
            }
        }
        .gallery_parag{
            padding-bottom: 2rem;
            p{
                color: var(--accent-color1);
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.875rem;
                letter-spacing: 0.0125rem;
                width: 360px;
                text-align: center;
            }
        }
        .wrapper {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 2rem 6rem;
            gap: 1.5rem;
            img{
                width: 14.0625rem;
                height: 17.0125rem;
                border-radius: 10px;
            }
        }
        .wrap{
            display: none;
        }
    }
}