@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
:root {
  --blue: #4452FE;
  --pink: #ff3998;
  --green: #39ffa0;
  --red: #ff3939;
  --light-green: #edfff6;
  --light-orange: #fff0e8;
  --accent-color1: #ffffff;
  --accent-color2: #555555;
  --accent-color3: #cccccc;
  --card-color: #000000;
  --background: #000000;
  --font-family: 'Open Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .app-container {
    background-color: var(--background);
    font-family: var(--font-family);
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    
    @media screen and (min-width: 280px) and (max-width: 1080px) {
      padding: 0;
    }
  }